PORT=3000
NODE_ENV=development
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=impresos_bethel
DB_USER=root
DB_PASSWORD=
DB_STORAGE=./src/config/database.sqlite
JWT_SECRET=bethel_super_secret_jwt_key_2026
JWT_EXPIRES_IN=7d
